<div>
  <h2 id="page-heading" data-cy="FoodServiceHeading">
    <span jhiTranslate="ccmsApp.foodService.home.title">Food Services</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="ccmsApp.foodService.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-food-service"
        [routerLink]="['/food-service/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="ccmsApp.foodService.home.createLabel"> Create a new Food Service </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="foodServices?.length === 0">
    <span jhiTranslate="ccmsApp.foodService.home.notFound">No foodServices found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="foodServices && foodServices.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="name"><span jhiTranslate="ccmsApp.foodService.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="rate"><span jhiTranslate="ccmsApp.foodService.rate">Rate</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="startDate">
            <span jhiTranslate="ccmsApp.foodService.startDate">Start Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="endDate">
            <span jhiTranslate="ccmsApp.foodService.endDate">End Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="foodServiceProvider.id">
            <span jhiTranslate="ccmsApp.foodService.foodServiceProvider">Food Service Provider</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let foodService of foodServices; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/food-service', foodService.id, 'view']">{{ foodService.id }}</a>
          </td>
          <td>{{ foodService.name }}</td>
          <td>{{ foodService.rate }}</td>
          <td>{{ foodService.startDate | formatMediumDate }}</td>
          <td>{{ foodService.endDate | formatMediumDate }}</td>
          <td>
            <div *ngIf="foodService.foodServiceProvider">
              <a [routerLink]="['/food-service-provider', foodService.foodServiceProvider?.id, 'view']">{{
                foodService.foodServiceProvider?.id
              }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/food-service', foodService.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/food-service', foodService.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(foodService)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="foodServices && foodServices.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
