<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="staffOrder">
      <h2 data-cy="staffOrderDetailsHeading"><span jhiTranslate="ccmsApp.staffOrder.detail.title">Staff Order</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ staffOrder.id }}</span>
        </dd>
        <dt><span jhiTranslate="ccmsApp.staffOrder.user">User</span></dt>
        <dd>
          <span *ngFor="let user of staffOrder.users; let last = last"> {{ user.id }}{{ last ? '' : ', ' }} </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/staff-order', staffOrder.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
