<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-food-service-provider-heading"
        data-cy="FoodServiceProviderCreateUpdateHeading"
        jhiTranslate="ccmsApp.foodServiceProvider.home.createOrEditLabel"
      >
        Create or edit a Food Service Provider
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="ccmsApp.foodServiceProvider.fullName" for="field_fullName">Full Name</label>
          <input type="text" class="form-control" name="fullName" id="field_fullName" data-cy="fullName" formControlName="fullName" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="ccmsApp.foodServiceProvider.docProofName" for="field_docProofName">Doc Proof Name</label>
          <input
            type="text"
            class="form-control"
            name="docProofName"
            id="field_docProofName"
            data-cy="docProofName"
            formControlName="docProofName"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="ccmsApp.foodServiceProvider.docProofNo" for="field_docProofNo">Doc Proof No</label>
          <input
            type="text"
            class="form-control"
            name="docProofNo"
            id="field_docProofNo"
            data-cy="docProofNo"
            formControlName="docProofNo"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="ccmsApp.foodServiceProvider.address" for="field_address">Address</label>
          <input type="text" class="form-control" name="address" id="field_address" data-cy="address" formControlName="address" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="ccmsApp.foodServiceProvider.contactNo" for="field_contactNo">Contact No</label>
          <input type="text" class="form-control" name="contactNo" id="field_contactNo" data-cy="contactNo" formControlName="contactNo" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="ccmsApp.foodServiceProvider.emailAddress" for="field_emailAddress">Email Address</label>
          <input
            type="text"
            class="form-control"
            name="emailAddress"
            id="field_emailAddress"
            data-cy="emailAddress"
            formControlName="emailAddress"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
